# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.log

# sbt specific
.cache
.lib/
dist/*
target/
lib_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.ensime
.ensime_cache/
.scala_dependencies
.worksheet

.idea/
project/project/
